<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Schot_LiveStock" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Inventory"/>
            <module name="Magento_InventoryApi"/>
            <module name="Magento_InventorySalesApi"/>
            <module name="Magento_InventorySalesAdminUi"/>
            <module name="Magento_InventoryCatalogApi"/>
        </sequence>
    </module>
</config>